.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 847px;
}

.u-section-1 .u-text-1 {
  margin: 257px 681px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 580px;
  height: 264px;
  margin: -636px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 560px;
  height: 211px;
  margin: -254px 10px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 211px;
  height: 83px;
  margin: -186px 344px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 196px;
  height: 162px;
  margin: -135px auto 0 20px;
}

.u-section-1 .u-text-2 {
  margin: -181px 157px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 46px 349px 0 589px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: -177px 10px 0 811px;
}

.u-section-1 .u-shape-4 {
  width: 560px;
  height: 239px;
  margin: 26px 10px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 211px;
  height: 100px;
  margin: -215px 344px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -90px 349px 0 589px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: -217px 10px 0 811px;
}

.u-section-1 .u-text-7 {
  margin: -312px 933px 0 28px;
}

.u-section-1 .u-text-8 {
  margin: -186px 721px 0 240px;
}

.u-section-1 .u-text-9 {
  margin: 32px 725px 0 236px;
}

.u-section-1 .u-text-10 {
  margin: 27px 721px 0 240px;
}

.u-section-1 .u-image-2 {
  width: 42px;
  height: 42px;
  margin: -140px auto 0 394px;
}

.u-section-1 .u-image-3 {
  width: 58px;
  height: 58px;
  margin: 2px 765px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 45px;
  height: 45px;
  margin: 4px 765px 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 560px;
  height: 275px;
  margin: 365px 10px 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 211px;
  height: 85px;
  margin: -257px 344px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: -75px 349px 0 589px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: -175px 10px 35px 811px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 42px;
    margin-right: 481px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -193px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -49px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -189px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -230px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-right: 249px;
    margin-left: 162px;
    width: 202px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -155px;
    margin-right: 0;
    margin-left: 188px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 249px;
    margin-left: 489px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 621px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -247px;
    margin-right: 761px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -245px;
    margin-right: 621px;
    margin-left: 140px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 3px;
    margin-right: 625px;
    margin-left: 136px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 621px;
    margin-left: 140px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 23px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 72px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -76px;
    margin-right: 249px;
    margin-left: 489px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 621px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -126px;
    margin-right: 261px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -189px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 139px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -407px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 139px;
    margin-left: 379px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 401px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 541px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 511px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 515px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 511px;
    margin-left: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 662px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 662px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 139px;
    margin-left: 379px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -130px;
    margin-right: 81px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: -185px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 329px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -62px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 49px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 141px;
  }

  .u-section-1 .u-shape-4 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 329px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 49px;
    margin-left: 289px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 221px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 361px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 361px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 361px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 361px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: 482px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 482px;
  }

  .u-section-1 .u-shape-6 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-7 {
    margin-right: 329px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 49px;
    margin-left: 289px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 261px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: -179px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 129px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -488px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 99px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -99px;
    margin-left: 89px;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 129px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 138px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 21px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -279px;
    margin-right: 161px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -184px;
    margin-right: 161px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 161px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 161px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 25px;
    margin-left: 298px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 28px;
    margin-right: 282px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 282px;
  }

  .u-section-1 .u-shape-6 {
    width: 340px;
    margin-top: 45px;
  }

  .u-section-1 .u-shape-7 {
    margin-right: 129px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 138px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 21px;
  }
}